
.about, .skills,.projects{
    font-family: 'Poppins', sans-serif;
}
.about{
    position:relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(188, 175, 69,0.5);
}

.about h2::after{
    content: 'who I am';
}
.about .about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
    width:55%;
}

.about .about-content .left img{
    height: 500px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.about .about-content .right{
    width:55%;
}
.about .about-content .right .text{
   font-size: 25px;
   font-weight: 600;
   color: rgb(241, 241, 241);
   margin-bottom:10px;
}
.about .about-content .right span{
    color:rgb(188, 175, 69);
 }
.about .about-content .right p{
    text-align: justify;
    color:rgb(255, 255, 255);
    font-size: 20px;

 }
 .about .about-content .right a{
     display:inline-block;
     background:rgba(0, 0, 0,0.8);
     color:rgb(188, 175, 69);
     font-size: 16px;
     padding: 10px;
     margin-top: 20px;
     border: 1px solid rgba(188, 175, 69,0.5);
     transition: 0.3s ease;
 }
 .about .about-content .right a:hover{
    background:rgb(188, 175, 69);
    color: black;
 }
