.contact{
    color:white;
    background: rgb(7, 7, 7);
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10% 5%
}

.contact .title::before{
  background: white;
}
.contact .title::after{
    background: rgb(0, 0, 0);
   content:'Talk to me'
}

.contact .contacts{
    margin: 3%;
    width: 300px;
    font-size: 30px;
    color: rgb(77, 76, 76);
}
.contact .contacts .fa{
    color: rgb(188, 175, 69);

    margin-right: 10px;
}


.contact form{
    margin: 3%;
    width: 400px;
}
input:focus{
    background-color: rgb(7, 7, 7);
    border: 0.5px solid rgba(188, 175, 69,0.5);
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],  textarea {
    width: 100%; 
    padding: 12px; 
    background-color: rgb(7, 7, 7);
    border: 0.5px solid rgba(188, 175, 69,0.5);
    color:white;
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 20px; 
    resize: vertical;
    transition: all 1s ease-in-out;
  }
  input[type=text]:focus,  textarea:focus {
    outline: none;
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit]:focus{
    border: 0.5px solid rgba(188, 175, 69,0.5);
  }

  .contact input[type=submit] {
    width: 100%;
  }

  .alert{
    padding:20px;
    width:100%;
    text-align:center;
    background:rgba(188, 175, 69,0.5);
    animation: alert-fade 5s alternate;
    
  }
  .mail-sent{
      margin-top: 5px;
      display:none
  }
  .mail-not-sent{
    margin-top: 5px;
    display:none;
    background: rgba(245, 82, 90, 0.1);
}
.visible{
    display:block;
}

  @keyframes alert-fade {
    from{
        opacity:1;
    }
    to{
        opacity:0
    }
  }