@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color:white
}
.text-center{
    text-align: center;
    font-weight: 800;
}
#theme-switch{
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 1000;
}
#theme-switch:hover{
    cursor: pointer;
}
#theme-switch i{
    margin: auto;
    font-size: 25px;
    width: 40px;
    height: 40px;
    padding: 7px;
    border: 1px solid grey;
    
    border-radius: 100px;
}

/* preloader styling */
.loader-bg{
    position:fixed;
    z-index:999999;
    background:rgb(14, 14, 14);
    width:100%;
    height:100%;
}
.loader{
    margin:auto;
    margin-top: 40vh;
    width: 225px;
    height: 160px;

}

.loader .cog-load-one{ 
   width:80px;
    position: absolute;
   animation: cog-rotate  linear infinite 4s;
}

.loader .cog-load-two{
   width:160px;
   position: absolute;
   margin-left: 63px;
   margin-top:3px;
   opacity: 0.7;
   animation: cog-rotate  linear reverse infinite 8s;
}

/* navbar styling */
.header{
    position: fixed;
    width:100%;
    z-index: 1000;
}
.navbar{
    background-image: linear-gradient(to bottom, rgb(0,0,0,0.7) , rgb(0,0,0,0));
    padding:30px 30px;
    width: 100%;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s ease;
}


.navbar-hidden{
    display: none;
}
.navbar img{
    width: 100%;
    display: block;
    border-radius: 6px 6px 0 0;
}

.navbar.sticky{
    padding:10px 30px;
    z-index: 1;
   /* background: rgb(0,0,0,0.9); */
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;   
}

.navbar .logo {
height: 50px;
width: 50px;
}


.navbar .menu li a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
    padding-left:35px;
    transition: 0.5s
}

.navbar .menu li a:hover{
    color:rgb(188, 175, 69);
}
.navbar.sticky .menu li a:hover{
    color:white;
}
.menu-btn{
    color:white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* The progress container  */
.progress-container {
    display:block;
    width: 100%;
    height: 2px;
  }
  /* The progress bar (scroll indicator) */
  .progress-bar {
    display: none;
    height: 2px;
    background: rgb(188, 175, 69);
    width: 0%;
  }

/* similar content styling */
section{
    padding:100px 0
}
section .title{
    position: relative;
    margin-bottom:30px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}
section .title::before{
    content: '';
    position: absolute;
    bottom:0px;
    width:170px;
    height:3px;
    left: 50%;
    background: rgb(231, 231, 231);
    transform:translateX(-50%)
}
section .title::after{
    position: absolute;
    bottom:-7px;
    color:rgb(188, 175, 69);
    font-size: 20px;;
    padding:5px;
    left: 50%;
    background: black;
    transform:translateX(-50%);
}

.btn{
    width: 80%;
    text-align: center;
    padding: 20px;
    align-self: center;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    transition: 0.3s ease;
    border-radius: 3px;
    border: 1px solid rgba(188, 175, 69,0.5);
}
.btn-light{
    background:rgb(188, 175, 69,0.7);
    color:rgb(247, 247, 247);
}
.btn-dark{
    background:rgba(0, 0, 0,0.8);
    color:rgb(188, 175, 69);
    
}
.btn1:hover{
    background:rgb(188, 175, 69);
    color: black;
    cursor: pointer;
}
.short{
    width: 50%;
}

/* cog wheels background */
.cog-wheels-background{
    background-color: rgb(41, 41, 41);
    z-index: -1; 
    position: fixed;
    height: 100vh;
    width:100%;
}

.cog-wheel-background .max-width{

    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cog-wheels-3pt{
    display: none;
}
/* home section styling */


/* first layer of cog wheels */
.cog-wheels-1pt .cog-one{
    position: absolute;
   top:190px;
   margin-left: 395px;
   width:170px;
}
.cog-wheels-1pt .cog-two{
    top:328px;
    margin-left:380px;
    position: absolute;
    width:300px;
}
.cog-wheels-1pt .cog-three{
   top:300px;
   position: absolute;
   margin-left:200px;
   width:300px;
}

/* second layer of cog wheels */
.cog-wheels-1pt .cog-four{
    position: absolute;
   top:115px;
   margin-left:90px;
   opacity: 0.6;
   width:300px;
}
.cog-wheels-1pt .cog-five{
    opacity: 0.6;
   top:130px;
   margin-left:323px;
   position: absolute;
   width:600px;
}
.cog-wheels-1pt .cog-six{
    opacity: 0.6;
   top:440px;
   margin-left:860px;
   position: absolute;
   width:300px;
}
/* third layer of cog wheels */
.cog-wheels-1pt .cog-seven{
    position: absolute;
   
   top:151px;
   opacity: 0.8;
   width:600px;
   animation: cog-rotate  linear infinite 32s;
}
.cog-wheels-1pt .cog-eight{
    opacity: 1;
   top:53px;
   margin-left:475px;
   position: absolute;
   width:300px;
   animation: cog-rotate  linear infinite reverse 16s;
}
.cog-wheels-1pt .cog-nine{
    opacity: 0.8;
   top:151px;
   margin-left:650px;
   position: absolute;
   width:600px;
   animation: cog-rotate  linear infinite 32s;
}

/* 3pt for small screen */

/* first layer of cog wheels */
.cog-wheels-3pt .cog-one{
    position: absolute;
   top:190px;
   margin-left: 395px;
   width:170px;
}
.cog-wheels-3pt .cog-two{
    top:328px;
    margin-left:380px;
    position: absolute;
    width:300px;
}
.cog-wheels-3pt .cog-three{
   top:300px;
   position: absolute;
   margin-left:200px;
   width:300px;
}

/* second layer of cog wheels */
.cog-wheels-3pt .cog-four{
    position: absolute;
   top:90px;
   margin-left:10px;
   opacity: 0.8;
   width:140px;
}
.cog-wheels-3pt .cog-five{
    opacity: 0.8;
   top:150px;
   margin-left:100px;
   position: absolute;
   width:240px;
}
.cog-wheels-3pt .cog-six{
    opacity: 0.8;
   top:375px;
   margin-left:173px;
   position: absolute;
   width:140px;
}
/* third layer of cog wheels */
.cog-wheels-3pt .cog-seven{
    opacity: 0.8;
   top:150px;
   margin-left:100px;
   position: absolute;
   width:240px;
   animation: cog-rotate  linear infinite reverse 64s;
}
.cog-wheels-3pt .cog-eight{
    position: absolute;
   top:90px;
   margin-left:10px;
   opacity: 0.8;
   width:140px;
   animation: cog-rotate  linear infinite  32s;
}
.cog-wheels-3pt .cog-nine{
    opacity: 0.8;
   top:375px;
   margin-left:173px;
   position: absolute;
   width:140px;
   animation: cog-rotate  linear infinite 32s;
}

@keyframes cog-rotate{
    from {
    -webkit-transform: rotate(0deg);
    }
    to {
     -webkit-transform: rotate(359deg);
    }
}


footer{
    border-top:1px solid rgb(48, 48, 48);
    background: rgb(20, 20, 20);
    height:15vh;
    color:rgb(201, 201, 201);
    padding-top:15px;
    padding-left: 10px;
    padding-right:10px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size:13px;
}
footer .back-top{
    padding:5px;
    float:right;
    font-size:20px;
    transition: all 0.5s ease-in-out;
}

footer .back-top:hover{
    cursor: pointer;
    color:rgb(188, 175, 69);

}
footer .footer-social {
    width: 35vw;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    top: 10rem;
    right: 6rem;
  }
  footer .footer-social i {
    color: rgb(54, 54, 54);
  }
  
  footer .footer-social a {
    color: rgb(54, 54, 54);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  footer .footer-social li {
    position: relative;
    padding: .6rem 0;
  }
  
  footer .footer-social li a {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  footer .footer-social i:hover {
    color: rgb(188, 175, 69);

  }
  footer .footer-social i,
  footer .footer-social span {
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  footer .footer-social i {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    right: 0;
  }
footer .footer-leading{
    width: 35vh;
    height: 8vh;
}
 footer .footer-leading .small-screen{
     display:none
 }
footer .footer-trailing{
    height: 8vh;
    width:30vh;
    display: flex;
    justify-content: space-between;
    padding-left:30px;
    opacity: 0.7;
}
.footer-trailing img{
    width: 200px;
}
footer .fa-angle-double-up{
    color: white;
    transition: 0.5s;
}

footer .fa-angle-double-up:hover{
    color: rgb(188, 175, 69);
}
footer .footer-text{
    color: rgb(185, 184, 184);
} 


 /* resposiveness styling */
 @media (max-width: 1500px) {

    .contact .contact-content{
        justify-content: center;
        margin:10% 5%
    }
    .contact .contacts{
        font-size: 20px;
    }
}

 @media (max-width: 1104px) {
    .about .about-content .left img{
        height: 450px;
        width: 300px;
    }
    .skills .skills-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .contact .contact-content{
        justify-content: center;
        margin:10% 5%
    }

}



@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    .project{
        display:block;
    }
    .project-ref{
        width:100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: space-between;
    }
    .project-ref .btn1{
        width: 30%;
    }
    .modal .project-art{
        width:100%;
        
    }
    .project-left{
        width:100%
    }
    .project-left .project-logo{
        display:none;
        width: 150px;
        top: 0%;
    }
    .project-right{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }
    .project-right-b{
        display:block
    }
    .modal h2{
        font-size: 20px;
    }
}

@media (max-width: 947px){
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
        background:rgb(24, 24, 24)
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 0, 0);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content{
        flex-direction: column;
    }
    .skills .skills-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    } 

    .back-top{
        display: none;
    }

}


@media (max-width: 715px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .home-social {
        list-style: none;
        font-family: "Montserrat", sans-serif;
        margin: 0;
        position: absolute;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        top: 90%;
        left: 4rem;
      }
    .skills .skills-content .card{
        width: 100%
    }
    .skills .skills-content .card .foreground{
        position: inherit;
        font-size: 30px;
        color:white;
        top:0;
        left:0;
        width:100%;
        height:15%;
        background: rgb(0,0,0,0.1);
        margin:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        border-radius: 5px;
    }
    
    .skills .skills-content .card:hover .foreground{
        transform:rotate(0deg);
        font-size: 30px;
        width:100%;
        height:15%;
        left:0;
        box-shadow: 0 0 0 ;
    }
    .projects .project-one{
        background-color: black;
        width: 50vw;
       
    }
    
    footer{
        padding-top: 5px;
        justify-content: center;
        height:30vh
    }
    footer .footer-trailing{
        width:100vw;
        justify-content: space-between;
    }
    footer .footer-social{
        width:100vw;
    }
    footer .footer-leading{
        justify-content: space-evenly;
        display: flex;
        width:100vw;
    }
    footer .footer-leading .small-screen{
        width: 20vw;
        display:block
    }
    footer .footer-trailing .large-screen{
        display:none
    }
    .footer-trailing img{
        width: 30vw;
        height: 15;
    }
    .back-top{
        display: none;
    }
    .footer-text{
        padding-top: 18px;
    }
}

@media (max-width: 648px) {

   footer{
    height:27vh
}
.skills .skills-content{
    justify-content: center;
}
}


@media (max-width: 470px) {
    .max-width{
        padding: 0 20px;
    }
    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content .text-3{
        font-size: 28px;
        font-weight:100px;
    }
    .home .home-content a{
        font-size: 17px;
    }
    .project-ref .btn1{
        width: 30%;
       margin-left: 5px;
       font-size: 13px;
    }
    .project-name{
        font-size: 40px;

    }
    .project-logo-small img{
        width: 80px;
    }
}

@media (max-width: 410px) {
    .cog-wheels-3pt{
        display: block;
    }
    .cog-wheels-1pt{
        display: none;
    }
}
@media (max-width: 320px) {
    .max-width{
        margin:0;
        padding:3
    }
}
