.projects{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(188, 175, 69,0.7);
   
}
.projects-list{
    display:flex;
    overflow-x: scroll;
    justify-content: space-between;
    scroll-snap-type: x mandatory; 
}

.projects .title::after{
    content: 'Highlights';
    background: rgb(0, 0, 0);

}
.project{
    position: relative;
    padding:5px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    margin-top:50px;
    scroll-snap-align: start;
    border-right: 1px solid rgba(188, 175, 69,0.2);
    
}
.project-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
}
.project-art{
    position: relative;
 
}
.project-art img{
    width:100%
}

.project-ref{
    display: flex;
    transition: .5s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
   
}
.project-ref .btn1{
    width: 20%;
   margin-left: 10px;
}
 .project-logo img{
    width:200px;
    position: absolute;
    top:40%;
    right: 25%;
    align-self: center;
    border-left: 5px solid rgba(188, 175, 69);
    border-radius: 60%;
}
.project-right{
    max-width: 250px;
    
}
 .project-name{
    font-size: 50px;
    font-weight: bold;
    color: rgba(188, 175, 69);
}
.project-right-b{
    margin-right:20px;
    display: none;
   
}
.project-logo-small img{
    width: 100px;
    border-left: 5px solid rgba(188, 175, 69);
    border-radius: 60%;
}
.project-left-b{
    min-width: 200px;
}