.projects{
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(188, 175, 69,0.7);
    
}


.projects .title::after{
    content: 'Highlights';
    background: rgb(0, 0, 0);

}
.project{
    position: relative;
    padding:5px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    margin-top:50px;
    height: auto;
    scroll-snap-align: start;

}
#rush,#sakahapa{
    border-bottom: 1px solid rgba(188, 175, 69,0.2);
}
.project-info{
    width: 40vw;
    
    
}
.project-info h1{
    color:rgba(188, 175, 69,1);
    padding-bottom: 40px;
    font-weight: 300;
}
.project-info .dates{
    margin-top: 10px;
    font-size: 15px;
    color: rgb(148, 148, 148);
    padding-bottom: 10px;
}
.project-info .platform, .fa{
    color: rgb(153, 146, 94);
    font-size: 17px;
}
.project-info p{
    padding-bottom: 40px;
    font-size: 20px;
    color: rgb(241, 241, 241);
    margin-bottom:10px;
}
.project-info .owner{
    display: flex;
}
.project-info .owner img{
    border-radius: 100px;
    height: 50px;
    width: 50px;

    margin-right: 20px;
}
.project-info .owner-info p{
    font-size: 15px;
    color: rgb(165, 165, 165);
}
.project-info .owner h4 span{
    color: rgb(167, 161, 118);
}
.btn-row{
    display:flex;
    flex-wrap: wrap;
    height: 100px;
    align-items: center;
   
}
.btn-row img{
    width: 150px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(188, 175, 69,0.5);
    
}
.btn-row .btn{
    width: 150px; 
    margin:0; 
    height: 50px;  
    margin-right: 10px;
    border-radius: 5px;
    align-content: center;
    border: 1px solid rgba(188, 175, 69,0.5);
}

 /* resposiveness styling */
 @media (max-width: 1000px) {
    .project{
        justify-content: center;
        justify-self: center;
        width: auto;
        padding: 20px;
        margin-top:20px;
        height: auto;

    
    }
    .project-info{
        width: 90vw;
        
        justify-content: space-between;
    }
    .btn-row{
        margin-bottom: 20px;
        
    }

}
@media (max-width: 650px) {
    img{
        width: 80vw;
    }
}

