.projects{
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(188, 175, 69,0.7);
   
}


.projects .title::after{
    content: 'Highlights';
    background: rgb(0, 0, 0);

}
.project{
    position: relative;
    padding:5px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    margin-top:50px;
    height: 100vh;
    scroll-snap-align: start;

}
#rush,#sakahapa{
    border-bottom: 1px solid rgba(188, 175, 69,0.2);
}
.project-info{
    width: 40vw;
    
    justify-content: space-between;
}
.project-info h1{
    color:rgba(188, 175, 69,1);
    padding-bottom: 40px;
    text-align: center;
    font-weight: 300;
}
.project-info p{
    padding-bottom: 40px;
    font-size: 20px;
    color: rgb(241, 241, 241);
    margin-bottom:10px;
}
.btn-row{
    display:flex;
    justify-content: space-between;
    
}
.btn{
    width: 20px;
}

 /* resposiveness styling */
 @media (max-width: 1000px) {
    .project{
        justify-content: center;
        justify-self: center;
        width: auto;
        padding: 20px;
        margin-top:20px;
        height: auto;

    
    }
    .project-info{
        width: auto;
        
        justify-content: space-between;
    }
    .btn-row{
        margin-bottom: 20px;
        
    }

}
@media (max-width: 650px) {
    img{
        width: 80vw;
    }
}

