.skills{
    color:white;
    background-color: rgba(188, 175, 69,0.2);
    border-bottom: 1px solid rgba(188, 175, 69,0.5);
 }
 .skills .title::after{
    content: 'what we do';
    background: rgb(0, 0, 0);

}
.skills{
    color:white;
    background-color: rgba(188, 175, 69,0.2);
    border-bottom: 1px solid rgba(188, 175, 69,0.5);
}
.skills .title::before{
    background: white;
  }
  .skills .title::after{
     background: rgb(20, 20, 20);
     content:'what I do'
  }
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-chart {
    width: 300PX;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}


  .single-chart .technology-header{
    padding:5px;
    border-radius: 10px;
    font-size: 13px;
    color:rgb(255, 255, 255);
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .single-chart .technologies{
     padding:30px;
     height: 200px;
  }

  .single-chart .technologies p{
    /* border-left: 2px solid rgba(247, 228, 90, 0.7); */
    
    padding: 5px;
 }


.technologies p #framework{
    color:rgba(206, 203, 7,0.5);

}
.technologies p #lang{
    color:rgba(206, 203, 7,0.5);
    
}
.technologies p #tool{
    color:rgba(206, 203, 7,0.5);
}

  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: rgba(0,0,0,0.5);
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: rgba(247, 228, 90, 0.7);
  }
  
  .circular-chart.green .circle {
    stroke: rgba(247, 228, 90, 0.7);
  }
  
  .circular-chart.blue .circle {
    stroke: rgba(247, 228, 90, 0.7);
  }
  
  .percentage {
    fill: rgb(207, 207, 207);
    font-family: sans-serif;
    font-size: 5px;
    text-anchor: middle;
  }

.modal-bg{
    position: fixed;
    z-index: 1;
    width:100vw;
    height:100vh;
    top:0;
    bottom:0;
    background-color: rgb(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    top:-100%
}
.modal{
    overflow-y: hidden;
    z-index: 1;
    background-color: rgb(0,0,0,0.9);
    width:100%;
    position: absolute;
    height:100%;
    overflow-y: scroll;
}
.modal .title{
    position: relative;
    font-size: 40px;
    text-align: center;
   
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(0,0,0,0.9);
    z-index: 1;
}
.modal .title{
    margin:10px;
    font-size: 20px;
}
.modal .close{
    float: right;
    width: 60px;
    padding:20px;
   
}
.modal .close:hover{
    cursor: pointer;
}

.tree{
  --spacing : 2.5rem;
  --radius  : 10px;
}
.tree summary{
  color: rgb(241, 235, 187);
  padding-bottom: 20px;
  padding-top: 10px;
}
.tree li{
  display      : block;
  position     : relative;
  
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}
details ul li{
  padding-top: 5px;
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
  
}

.tree ul li{
  border-left : 2px solid rgb(188, 175, 69);
  padding-bottom: 20px;
}

.tree ul li:last-child{
  border-color : transparent;
}

.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid rgb(188, 175, 69);
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 10%;
  background    : rgb(95, 93, 93);
}

.tree summary::before{
  content     : '+';
  z-index     : 1;
  background  : rgb(163, 161, 6);
  color       : rgb(255, 255, 255);
  line-height : calc(2 * var(--radius) - 2px);
  text-align  : center;
}

.tree details[open] > summary::before{
  content : '−';
}
