@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color:white
}
.text-center{
    text-align: center;
    font-weight: 800;
}
/* preloader styling */
.loader-bg{
    position:fixed;
    z-index:999999;
    background:rgb(14, 14, 14);
    width:100%;
    height:100%;
}
.loader{
    margin:auto;
    margin-top: 40vh;
    width: 225px;
    height: 160px;

}

.loader .cog-load-one{ 
   width:80px;
    position: absolute;
   animation: cog-rotate  linear infinite 4s;
}

.loader .cog-load-two{
   width:160px;
   position: absolute;
   margin-left: 63px;
   margin-top:3px;
   opacity: 0.7;
   animation: cog-rotate  linear reverse infinite 8s;
}

/* navbar styling */
.header{
    position: fixed;
    width:100%;
    z-index: 1;
}
.navbar{
    background-image: linear-gradient(to bottom, rgb(0,0,0,0.5) , rgb(0,0,0,0));
    padding:30px 30px;
    width: 100%;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s ease;
}
.navbar img{
    width: 100%;
    display: block;
    border-radius: 6px 6px 0 0;
}

.navbar.sticky{
    padding:10px 30px;
    z-index: 1;
   background: rgb(0,0,0,0.9);
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;   
}

.navbar .logo {
height: 50px;
width: 50px;
}


.navbar .menu li a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
    padding-left:35px;
    transition: 0.5s
}

.navbar .menu li a:hover{
    color:rgb(188, 175, 69);
}
.navbar.sticky .menu li a:hover{
    color:white;
}
.menu-btn{
    color:white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* The progress container  */
.progress-container {
    display:block;
    width: 100%;
    height: 2px;
  }
  /* The progress bar (scroll indicator) */
  .progress-bar {
    display: none;
    height: 2px;
    background: rgb(188, 175, 69);
    width: 0%;
  }

/* similar content styling */
section{
    padding:100px 0
}
section .title{
    position: relative;
    margin-bottom:30px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}
section .title::before{
    content: '';
    position: absolute;
    bottom:0px;
    width:170px;
    height:3px;
    left: 50%;
    background: rgb(231, 231, 231);
    transform:translateX(-50%)
}
section .title::after{
    position: absolute;
    bottom:-7px;
    color:rgb(188, 175, 69);
    font-size: 20px;;
    padding:5px;
    left: 50%;
    background: black;
    transform:translateX(-50%);
}

.btn1{
    width: 80%;
    text-align: center;
    padding: 20px;
    align-self: center;
    background:rgba(0, 0, 0,0.8);
    color:rgb(188, 175, 69);
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgba(188, 175, 69,0.5);
    transition: 0.3s ease;
}
.btn1:hover{
    background:rgb(188, 175, 69);
    color: black;
    cursor: pointer;
}
.short{
    width: 50%;
}

/* cog wheels background */
.cog-wheels-background{
    background-color: black;
    z-index: -1; 
    position: fixed;
    height: 100vh;
    width:100%;
}

.cog-wheel-background .max-width{

    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cog-wheels-3pt{
    display: none;
}
/* home section styling */
.home{
    position: relative;
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(189, 189, 189);
    min-height: 500px;
    border-bottom: 1px solid rgba(188, 175, 69,0.3);
}

.home .max-width{
    margin:auto 0 auto 40px;
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* first layer of cog wheels */
.cog-wheels-1pt .cog-one{
    position: absolute;
   top:190px;
   margin-left: 395px;
   width:170px;
}
.cog-wheels-1pt .cog-two{
    top:328px;
    margin-left:380px;
    position: absolute;
    width:300px;
}
.cog-wheels-1pt .cog-three{
   top:300px;
   position: absolute;
   margin-left:200px;
   width:300px;
}

/* second layer of cog wheels */
.cog-wheels-1pt .cog-four{
    position: absolute;
   top:115px;
   margin-left:90px;
   opacity: 0.8;
   width:300px;
}
.cog-wheels-1pt .cog-five{
    opacity: 0.8;
   top:130px;
   margin-left:323px;
   position: absolute;
   width:600px;
}
.cog-wheels-1pt .cog-six{
    opacity: 0.8;
   top:440px;
   margin-left:860px;
   position: absolute;
   width:300px;
}
/* third layer of cog wheels */
.cog-wheels-1pt .cog-seven{
    position: absolute;
   top:151px;
   opacity: 0.3;
   width:600px;
   animation: cog-rotate  linear infinite 64s;
}
.cog-wheels-1pt .cog-eight{
    opacity: 0.3;
   top:53px;
   margin-left:475px;
   position: absolute;
   width:300px;
   animation: cog-rotate  linear infinite reverse 32s;
}
.cog-wheels-1pt .cog-nine{
    opacity: 0.3;
   top:151px;
   margin-left:650px;
   position: absolute;
   width:600px;
   animation: cog-rotate  linear infinite 64s;
}

/* 3pt for small screen */

/* first layer of cog wheels */
.cog-wheels-3pt .cog-one{
    position: absolute;
   top:190px;
   margin-left: 395px;
   width:170px;
}
.cog-wheels-3pt .cog-two{
    top:328px;
    margin-left:380px;
    position: absolute;
    width:300px;
}
.cog-wheels-3pt .cog-three{
   top:300px;
   position: absolute;
   margin-left:200px;
   width:300px;
}

/* second layer of cog wheels */
.cog-wheels-3pt .cog-four{
    position: absolute;
   top:90px;
   margin-left:10px;
   opacity: 0.8;
   width:140px;
}
.cog-wheels-3pt .cog-five{
    opacity: 0.8;
   top:150px;
   margin-left:100px;
   position: absolute;
   width:240px;
}
.cog-wheels-3pt .cog-six{
    opacity: 0.8;
   top:375px;
   margin-left:173px;
   position: absolute;
   width:140px;
}
/* third layer of cog wheels */
.cog-wheels-3pt .cog-seven{
    opacity: 0.8;
   top:150px;
   margin-left:100px;
   position: absolute;
   width:240px;
   animation: cog-rotate  linear infinite reverse 64s;
}
.cog-wheels-3pt .cog-eight{
    position: absolute;
   top:90px;
   margin-left:10px;
   opacity: 0.8;
   width:140px;
   animation: cog-rotate  linear infinite  32s;
}
.cog-wheels-3pt .cog-nine{
    opacity: 0.8;
   top:375px;
   margin-left:173px;
   position: absolute;
   width:140px;
   animation: cog-rotate  linear infinite 32s;
}

@keyframes cog-rotate{
    from {
    -webkit-transform: rotate(0deg);
    }
    to {
     -webkit-transform: rotate(359deg);
    }
}

.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600px;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 25px;
    margin: 5px 0;
}

.home .home-content .text-3 #designer{
    color:rgb(188, 175, 69);
    font-weight: 500px;
}

.home .home-content a{
width: 50%;
}

.home-social {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    position: absolute;
    top: 10rem;
    right: 6rem;
  }
  
  .home-social a {
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .home-social li {
    position: relative;
    padding: .6rem 0;
  }
  
  .home-social li a {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  
  .home-social i,
  .home-social span {
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .home-social i {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    right: 0;
  }
  
  .home-social span {
    background-color: #151515;
    font-size: 10px;
    line-height: 30px;
    color: rgb(188, 175, 69);
    right: 50px;
    padding: 0 15px;
    margin: 3px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  
  .home-social span::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #151515;
    position: absolute;
    top: 50%;
    right: -6px;
    margin-top: -6px;
  }
  
.home-social li:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
/* about section styling */

.about, .skills,.projects{
    font-family: 'Poppins', sans-serif;
}
.about{
    position:relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(188, 175, 69,0.5);
}

.about h2::after{
    content: 'who i am';
}
.about .about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
    width:55%;
}

.about .about-content .left img{
    height: 500px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.about .about-content .right{
    width:55%;
}
.about .about-content .right .text{
   font-size: 25px;
   font-weight: 600;
   color: rgb(241, 241, 241);
   margin-bottom:10px;
}
.about .about-content .right span{
    color:rgb(188, 175, 69);
 }
.about .about-content .right p{
    text-align: justify;
    color:rgb(255, 255, 255);
    font-size: 20px;

 }
 .about .about-content .right a{
     display:inline-block;
     background:rgba(0, 0, 0,0.8);
     color:rgb(188, 175, 69);
     font-size: 16px;
     padding: 10px;
     margin-top: 20px;
     border: 1px solid rgba(188, 175, 69,0.5);
     transition: 0.3s ease;
 }
 .about .about-content .right a:hover{
    background:rgb(188, 175, 69);
    color: black;
 }

 /* skills section styling */
 .skills{
    color:white;
    background-color: rgba(188, 175, 69,0.2);
    border-bottom: 1px solid rgba(188, 175, 69,0.5);
 }
 .skills .title::after{
    content: 'what I can do';
    background: rgb(0, 0, 0);

}
.skills{
    color:white;
    background-color: rgba(188, 175, 69,0.2);
    border-bottom: 1px solid rgba(188, 175, 69,0.5);
}
.skills .title::before{
    background: white;
  }
  .skills .title::after{
     background: rgb(20, 20, 20);
     content:'what i do'
  }
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-chart {
    width: 300PX;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


  .single-chart .technology-header{
    padding:5px;
    border-radius: 10px;
    font-size: 13px;
    color:rgb(255, 255, 255);
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .single-chart .technologies{
     padding:30px;
     height: 200px;
  }

  .single-chart .technologies p{
    /* border-left: 2px solid rgba(247, 228, 90, 0.7); */
    
    padding: 5px;
 }


.technologies p #framework{
    color:rgba(206, 203, 7,0.5);

}
.technologies p #lang{
    color:rgba(206, 203, 7,0.5);
    
}
.technologies p #tool{
    color:rgba(206, 203, 7,0.5);
}

  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: rgba(0,0,0,0.5);
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: rgba(247, 228, 90, 0.7);
  }
  
  .circular-chart.green .circle {
    stroke: rgba(247, 228, 90, 0.7);
  }
  
  .circular-chart.blue .circle {
    stroke: rgba(247, 228, 90, 0.7);
  }
  
  .percentage {
    fill: rgb(207, 207, 207);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }



/* projects section styling */
.projects{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(188, 175, 69,0.7);
}

.projects .title::after{
    content: 'Highlights';
    background: rgb(0, 0, 0);

}
/* .project-cards{
    overflow: auto;
    white-space: nowrap;
    margin-top:5%
} */

.project-cards {
    justify-content: center;
    display: flex;
}

.projects .project-one{
    background-color: black;
    width: 30vw;
    height: 500px;
    padding:10px 10px;
    margin:20px 20px;
   
}

.project-one .image{
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom: 3%;
}

.project-one .sakahapa-img{
    height:200px;
    width:200px;
}
.project-one h3 a{
    color: rgb(188, 175, 69);
    
}
.project-one h3 a:hover{
    cursor: pointer;
}
.project-one p{
    color:rgb(197, 197, 197);
    background-color: black;
    margin-bottom: 3%;
}
.project-one .project-info{
    display:flex;
    justify-content: center;
    margin-bottom: 3%;
}
.project-one .project-links{
    width: 100%;
    display:flex;
    justify-content: center;
}

.project-one .project-links .playstore,.appstore{
    padding:10px 20px;
    border-radius: 20px;
    margin:3%;
    background-color: rgb(0,0,0);
}
.project-links img{
    width:30px;
    height:30px;
    filter: grayscale(100%);
}
.project-links:hover{
    cursor: pointer;
}

.project-cards .project-one .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
.modal-bg{
    position: fixed;
    z-index: 1;
    width:100vw;
    height:100vh;
    top:0;
    bottom:0;
    background-color: rgb(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    top:-100%
}
.modal{
    overflow-y: hidden;
    z-index: 1;
    background-color: rgb(0,0,0,0.5);
    
    width:80%;
    position: absolute;
    height:80%;
    margin-top:10px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal h2{
    margin:10px;
}
.modal .close{
    float: right;
    padding:10px;
}
.modal .close:hover{
    cursor: pointer;
}
 .swiper-container .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 400px;
 }


/* contact styling */
.contact{
    color:white;
    background: rgb(7, 7, 7);
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10% 5%
}

.contact .title::before{
  background: white;
}
.contact .title::after{
    background: rgb(0, 0, 0);
   content:'Talk to me'
}

.contact .contacts{
    margin: 3%;
    width: 400px;
    font-size: 30px;
    color: rgb(77, 76, 76);
}
.contact .contacts i{
    color: rgb(188, 175, 69);
    font-size: 100;
    margin-right: 10px;
}


.contact form{
    margin: 3%;
    width: 400px;
}
input:focus{
    background-color: rgb(7, 7, 7);
    border: 0.5px solid rgba(188, 175, 69,0.5);
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],  textarea {
    width: 100%; 
    padding: 12px; 
    background-color: rgb(7, 7, 7);
    border: 0.5px solid rgba(188, 175, 69,0.5);
    color:white;
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 20px; 
    resize: vertical;
    transition: all 1s ease-in-out;
  }
  input[type=text]:focus,  textarea:focus {
    outline: none;
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit]:focus{
    border: 0.5px solid rgba(188, 175, 69,0.5);
  }

  .contact input[type=submit] {
    width: 100%;
  }

  .alert{
    padding:20px;
    width:100%;
    text-align:center;
    background:rgba(188, 175, 69,0.5);
    animation: alert-fade 5s alternate;
    
  }
  .mail-sent{
      margin-top: 5px;
      display:none
  }
  .mail-not-sent{
    margin-top: 5px;
    display:none;
    background: rgba(245, 82, 90, 0.1);
}
.visible{
    display:block;
}

  @keyframes alert-fade {
    from{
        opacity:1;
    }
    to{
        opacity:0
    }
  }
/* footer styling */
footer{
    border-top:1px solid rgb(48, 48, 48);
    background: rgb(20, 20, 20);
    height:15vh;
    color:rgb(201, 201, 201);
    padding-top:15px;
    padding-left: 10px;
    padding-right:10px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size:13px;
}
footer .back-top{
    padding:5px;
    float:right;
    font-size:20px;
    transition: all 0.5s ease-in-out;
}

footer .back-top:hover{
    cursor: pointer;
    color:rgb(188, 175, 69);

}
footer .footer-social {
    width: 35vw;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    top: 10rem;
    right: 6rem;
  }
  footer .footer-social i {
    color: rgb(54, 54, 54);
  }
  
  footer .footer-social a {
    color: rgb(54, 54, 54);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  footer .footer-social li {
    position: relative;
    padding: .6rem 0;
  }
  
  footer .footer-social li a {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  footer .footer-social i:hover {
    color: rgb(188, 175, 69);

  }
  footer .footer-social i,
  footer .footer-social span {
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  footer .footer-social i {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    right: 0;
  }
footer .footer-leading{
    width: 35vh;
    height: 8vh;
}
 footer .footer-leading .small-screen{
     display:none
 }
footer .footer-trailing{
    height: 8vh;
    width:30vh;
    display: flex;
    justify-content: space-between;
    padding-left:30px;
    opacity: 0.7;
}
/* .footer-trailing img{
    width: 20vh;
} */
footer .fa-angle-double-up{
    color: white;
    transition: 0.5s;
}

footer .fa-angle-double-up:hover{
    color: rgb(188, 175, 69);
}
footer .footer-text{
    color: rgb(185, 184, 184);
} 


 /* resposiveness styling */
 @media (max-width: 1500px) {

    .contact .contact-content{
        justify-content: center;
        margin:10% 5%
    }
    .contact .contacts{
        font-size: 20px;
    }
}

 @media (max-width: 1104px) {
    .about .about-content .left img{
        height: 450px;
        width: 300px;
    }
    .skills .skills-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .contact .contact-content{
        justify-content: center;
        margin:10% 5%
    }
}






@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
        background:rgb(24, 24, 24)
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 0, 0);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content{
        flex-direction: column;
    }
    .skills .skills-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    } 

    .back-top{
        display: none;
    }

}


@media (max-width: 715px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .home-social {
        list-style: none;
        font-family: "Montserrat", sans-serif;
        margin: 0;
        position: absolute;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        top: 90%;
        left: 4rem;
      }
    .skills .skills-content .card{
        width: 100%
    }
    .skills .skills-content .card .foreground{
        position: inherit;
        font-size: 30px;
        color:white;
        top:0;
        left:0;
        width:100%;
        height:15%;
        background: rgb(0,0,0,0.1);
        margin:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        border-radius: 5px;
    }
    
    .skills .skills-content .card:hover .foreground{
        transform:rotate(0deg);
        font-size: 30px;
        width:100%;
        height:15%;
        left:0;
        box-shadow: 0 0 0 ;
    }
    .projects .project-one{
        background-color: black;
        width: 50vw;
       
    }
    
    footer{
        padding-top: 5px;
        justify-content: center;
        height:30vh
    }
    footer .footer-trailing{
        width:100vw;
        justify-content: space-between;
    }
    footer .footer-social{
        width:100vw;
    }
    footer .footer-leading{
        justify-content: space-evenly;
        display: flex;
        width:100vw;
    }
    footer .footer-leading .small-screen{
        width: 20vw;
        display:block
    }
    footer .footer-trailing .large-screen{
        display:none
    }
    .footer-trailing img{
        width: 30vw;
        height: 15;
    }
    .back-top{
        display: none;
    }
    .footer-text{
        padding-top: 18px;
    }
}

@media (max-width: 648px) {
   .project-cards .project-one{
       width:40%
   }
   footer{
    height:27vh
}
}

@media (max-width: 520px) {
    .project-cards .project-one{
        width:50%
    }
}

@media (max-width: 470px) {
    .max-width{
        padding: 0 20px;
    }
    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content .text-3{
        font-size: 28px;
        font-weight:100px;
    }
    .home .home-content a{
        font-size: 17px;
    }
   .project-cards .project-one{
    width: 80%;
    }
}

@media (max-width: 410px) {
    .cog-wheels-3pt{
        display: block;
    }
    .cog-wheels-1pt{
        display: none;
    }
    .project-one .sakahapa-img{
        height:150px;
        width:150px;
    }
}
@media (max-width: 320px) {
    .max-width{
        margin:0;
        padding:3
    }
}