@font-face {
  font-family: "digital";
  src: local("digital"),
   url("../fonts/DS-DIGI.TTF") format("truetype");
  font-weight: normal;
 }
 html {
  scroll-behavior: smooth;
}

 
.App {
  background-color: #0d1b2a;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:white
}

.scroll-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100vh;
}


.scroll-div {
  flex: 0 0 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  height: 100vh;
  position: relative;
}

.scroll-div .hello{
  top:10%;
  font-size: 25px;
  text-align: center;
  font-family: "digital";
  position: absolute;
}
.scroll-div .hello span{
  color: #e85d04;
}

.time-buttons {
  height: 130px;
  width: 130px;
 display: flex;
 position: absolute;
 justify-content: space-between;
 flex-direction: column;
 left:0;
  margin-top: 20px;
  perspective: 600px;
}
.nav-buttons {
  height: 140px;
  width: 130px;
 display: flex;
 position: absolute;
 justify-content: space-between;
 flex-direction: column;
 right:0;
  margin-top: 20px;
  perspective: 600px;
  
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  transition: 0.3s ease;
  background-color: transparent;
  font-weight: 200;
}
.nav-buttons button{
  transform: rotateY(30deg);
  transform-origin: center;
  transform-style: preserve-3d;
}
.time-buttons button{
  transform: rotateY(-30deg);
  transform-origin: center;
  transform-style: preserve-3d;
}
.time-travel{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: rgb(183, 183, 183);
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  height: 50px;
}
