.future{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.contact{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-size: 80px;
}
.future .contact-details {
    font-size: 15px;
    background-color: #ce4f01;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}
.contact-details .phone , .mail{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.contact-details img{
    width: 20px;
    margin-right: 10px;
   
}
@media (max-width:800px) {
   h1{
    font-size: 40px;
    }
    .future .contact-details {
        width: 80%;
    }
}
@media (max-width:600px) {
    .future .contact-details {
        width: 90%;
    }
    h1{
     font-size: 30px;
     }
 }

  