@font-face {
    font-family: "digital";
    src: local("digital"),
     url("../fonts/DS-DIGI.TTF") format("truetype");
    font-weight: normal;
   }
  
   
  .privacy {
    scroll-behavior: smooth;
    background-color: #0d1b2a;
    margin: 0;
    color:white
  }
  .privacy-content{
    width: 70%;
    margin:auto;
    padding-top: 30px;
  }

  @media (max-width:800px) {
    .privacy-content{
        width: 90%;
    }
    .footer{
        margin-left: -20px;
    }
}