.projects{
    height: auto;
    padding-top: 50px;
}

.project{
    
    position: relative;
    display: flex;
    border: 1px solid rgb(40, 40, 76);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}
.project .project-content{
   padding-left: 20px;
    text-align: start; 
}
.project .project-img{
    width: 300px;
}
.project .project-img img{
    height: 200px;
    border-radius: 10px;
}
.project h5{
    font-size: 13px;
    color: #e85d04;
    font-weight: 300;
    margin:0
}
.project h2{
   font-size: 25px;
   margin-top: 5px;
   margin-bottom: 10px;
}
.project h4{
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    font-weight: normal;
    color: rgb(89, 89, 209);
    cursor: pointer;
 }
.project p{
    font-size: 17px;
    color: rgb(125, 133, 165);
    margin: 0;
}
.technologies{
    display: flex;
    font-size: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.technologies div{
    border: 1px solid rgb(67, 67, 134);
    background-color: rgb(39, 39, 84);
    padding: 5px 10px;
    border-radius: 30px;
    margin: 5px;
}
.project-link{
    position: absolute;
    right: 20px;
    top:20px;
    width: 25px;
    cursor: pointer;
}
@media(max-width:850px){
    .projects{
        width: 100%;
        padding-top: 10px;
    }
    .projects h3{
        font-size: 25px;
    }
    .project h2{
        font-size: 20px;
        text-align: left;

     }
     .projects-content{
        height: 100vh;
        
    }
    .project{
        display: flex;
        align-items: center;
        flex-direction: column;
    } 
}

